/* app global css in SCSS form */

/* login */

.login-bg-img {
  background-image: url("../assets/bg-wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: -webkit-center;
  position: fixed;
  background-color: #D9D9D9;;
}

.login-card {
  margin-top: 2%;
  width: 73% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: static;
}

.section-login{
  height: 90vh;
  position: relative;
}

.box-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 100%;
  z-index: 1;
  background: #0050A0;

}

.box-login .image-box{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.q-card-login{
  margin-top: -16px;
  width: 500px;
  height: 536px;
}

.q-img-login-banner {
  margin-top: 122px;
  max-width: 286px;
}

.q-img-login-logo {
  margin-top: 122px;
  max-width: 75px;
}

.q-form-login {
  width: 84%;
  margin-top: 41px;
}

.q-btn-login {
  width: 100%;
}
/* end login */